header {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #00D2FF;
    background-color: #03658c;
}
h1{
    color: white;
}

header > img {
    max-height: 75px;
    max-width: 75px;
}
#bodyText{
    display: flex;
    justify-content: flex-start;
}
aside {
    padding-right: 50px;
    background-color: #049dbf;
    height: 100%;
    width:15%
}

#main{
    background-color: #f1f2eb;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

#mainhead{
    display: flex;
    justify-content: space-between;
}

#mainhead > img{
    border: 3px solid black;
    max-height: 25%;
    max-width: 25%;
}

h4 {
    padding: 0;
    margin: 4px;
}

.enlaces{
    display: flex;
    flex-direction: column
}

#headerlinks {
    color: black;
}

a{
    text-decoration: none;
    color: #191e34;
}